<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body class="containter-fluid bg-dark">

    <%- include('../partials/nav.ejs') %>
    
    <div class="show">
    <div class="jumbotron text-center bg-image showing" style=" background-image: url('https://searchengineland.com/wp-content/seloads/2017/02/microphone-podcast-radio-ss-1920.jpg'); background-size: cover;">
        <img class="img-fluid w-25 img-thumbnail" src="<%=data.img%>" alt="" >
        <h1 class="display-4"><%=data.name%></h1>
        <p class="lead">Genre: <%=data.genre%> <br> Hosts: <%=data.hosts%> <br> Release Date: <%=data.date%></p>
        <hr class="my-4">
        <div class="showinfo">
            <div class="show-description">
                <h3>Description:</h3> <br><p><%=data.description%></p> 
            </div>
            <iframe style="border-radius:12px" src="<%=data.preview%>" width="496" height="279" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
        <div class="d-flex flex-row justify-content-center">
         <a class="btn btn-warning" href="/<%=data.id%>/edit">Edit </a> 

        <form action="/<%=data.id%>?_method=DELETE" method="POST">
         <input class="delete btn btn-danger" type="submit" value="DELETE" />
        </div>
      </div>  
      </div>
      <%- include('../partials/footer.ejs') %>
</body>
</html>

